.products_container{
    text-align: center;
    margin-top: 30px;
}
.card{
    width: 312px;
    height: 368px;
    box-shadow: 8px 24px 32px -16px #10175026;
    text-decoration: none;

}
.related-card_details{
    display: flex;
    gap: 30px;
    justify-content: center;    
    margin: 40px;   
    
}
.products{
    width: 312px;
    height: 232px;
}
.card_title{
    text-align: center;
    margin: 15px;
    color: #FB2E86;
    font-family: Josefin Sans;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
}
.card_code{
    margin-top: 20px;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color:#8A8FB9;
}
.card_price{
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    color: #101750;

}


.card:hover {
    transform: translateY(-40px); 
    transition: transform 0.4s ease, box-shadow 0.3s ease; 
    box-shadow: 8px 32px 48px -12px rgba(16, 23, 80, 0.26); 
}



.related__products{
    padding-left: 90px;
    text-align: left;
    justify-content: center;
    font-family: Josefin Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.015em;
    color: #101750;
   
}



.related-content {
    position: relative;
    display: inline-block;
  }
  
  .related-content {
    position: relative;
    display: inline-block;
  }
  .related-container-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #0cc562;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }
  .related-content:hover .related-container-button {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(-5px);
  }
  .product-card-right-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card:hover .product-card-right-icon {
    opacity: 1;
  }
 