.card-container-2 {
    border: 3px solid blue;
}

.card_fulldetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 4rem;
    gap: 30px;
}

.card2 {
    width: 416px;
    height: 320px;
    text-decoration: none;
    
}

.card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.price-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.productsImage{
    border-radius: 10px;
}
.product-card-title{
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #151875;

}
.current-price{
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #101750;
}
.original-price{
    color: #FB2E86;
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 2px;
}
.current-price:hover{
    color: #FB2E86;
}

.latest__products{
    font-family: Josefin Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.015em;
    text-align: center;
    margin-top: 140px;
    color: #101750;
}

/*Skeleton*/
.skeleton-card {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation: skeleton-loading 1.5s infinite;
  }
  
  .skeleton-image {
    width: 100%;
    height: 272px;
    background: #e0e0e0;
    border-radius: 4px;
  }
  
  .skeleton-text {
    width: 70%;
    height: 20px;
    background: #e0e0e0;
    border-radius: 4px;
  }
  
  .skeleton-price {
    width: 30%;
    height: 16px;
    background: #e0e0e0;
    border-radius: 4px;
  }
  
 

  .latest-links{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
  }
  .link-latest{
    text-decoration: none;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #101750;
  }
  .active{
    color: #FB2E86;
  }
  .link-latest:hover{
    color: #FB2E86;
  }