
.page-items-dropdown{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E5E0FC;
    position: relative;
}
.per-page{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8A8FB9;
}
.select {
    color: #101750;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0.7rem;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    font-family: Lato;
    font-weight: 400;
    line-height: 16px;
    
}

.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #101750;
    transition: transform 0.3s ease;
}
.caret-rotate {
    transform: rotate(180deg);
}

.menu-option {
    list-style: none;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: none;
    
}

.menu-option.open {
    opacity: 1;
    display: block;
    
    
}

.menu-option li {
    width: 54px;
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #101750;
   
    
}
.menu-option li:hover,
.menu-option li.active {
    background-color: white;
    color: red;
}
