.category-section {
    padding: 4rem;
}
.category-title {
    text-align: center;
    padding: 1rem;
    font-family: Josefin Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.015em;
    color: #101750;
}
.category-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    
}
.category-image {
    border-radius: 100%;

}
.category-name {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #101750;
}
.category-image-container {
    text-decoration: none;

}



.ellipse-pagination {
    padding: 1px 1px 1px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: absolute; 
    left: 48%;
    margin-top: 40px;

}
.circle-ellipse-active{
    background-color: #FB2E86;
    width: 8px;
    height: 8px;
    top: 1px;
    left: 26px;
    border: 1px;
    border: 1px solid #FB2E86;
    border-radius: 40px;
    cursor: pointer;
}
.circle-ellipse {
    width: 8px;
    height: 8px;
    top: 1px;
    left: 26px;
    border: 1px;
    border: 1px solid #FB2E86;
    border-radius: 40px;
    cursor: pointer;
}
