.newsletter-content{
    margin-top: 70px;
    position: relative;
}
.center{
    left: 500;
    position: absolute;
    top: 120;
    font-family: Josefin Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.015em;
    text-align: center;
    color: #101750;
}
.btn-newsletter{
    display: inline-block;
    background-color: #ff4081;
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
}