.product-lister{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.product-title{
font-family: Josefin Sans;
font-size: 52px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0.015em;
text-align: center;
color: #101750;
padding-top: 3rem;

}
a{
    text-decoration: none;
}

.product-links ul{
    display: flex;
    text-align: center;
   
    justify-content: center;
    list-style: none;
    padding-top: 1rem;
    gap: 40px;
    cursor: pointer;
}

.product-links ul :hover{
color:  #FB2E86;

}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
}

.icons{
    gap: 40px;
    justify-content: space-between;
}


/*Options*/



.select-option{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 62px;
    height: 20px;
    color: #8A8FB9;
}
.page-values{
    width: 96px;
    height: 40px;
    padding: 2px 2px 2px 16px;
    gap: 16px;
    border-radius: 8px ;
    border: 1px ;
    border: 1px solid #E5E0FC;
    background: #FFFFFF;
}
.page-values-price{
    width: 208px;
    height: 40px;
    padding: 2px 2px 2px 16px;
    gap: 16px;
    border-radius: 8px ;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #E5E0FC
}
.view-container{
    padding: 20px;
    display: flex;
    gap: 20px;
}